# ------------------------------------------------------------------------------------------------------------------------------------------------
# Input file for PU, Higgs pt and VtxID Eff reweighting
# ------------------------------------------------------------------------------------------------------------------------------------------------
PUREWEIGHFILE_AB	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/puweights/AB.json.69400.observed.pileup.root
PUREWEIGHFILE_C 	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/puweights/C.json.69400.observed.pileup.root
PUREWEIGHFILE_D 	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/puweights/D.json.69400.observed.pileup.root
PUREWEIGHFILE	        ON	/scratch3/mingyang/2013Moriond/HiggsReview/input/
PTREWEIGHFILE	        OFF	/home/mingyang/cms/2013Final/FINAL/7TeV/input/ptweights/KFactors_AllScales.root
VTXWEIGHTFILE	        ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/vtxIdScaleFactor/sig_reweighing_legacy_mva_8TeV.root 
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Datafile and total lumi in fb-1
# ------------------------------------------------------------------------------------------------------------------------------------------------
DATAFILE	/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_r12a-pho-j22-v1_noskim.root
DATAFILE	/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_r12b-dph-j22-v1_noskim.root 
DATAFILE	/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_r12c-dph-j22-v1_noskim.root
DATAFILE	/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_r12d-dph-j22-v1_noskim.root
LUMI		19.712
CMENERGY	8
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# name of the Tree Writer module and Tree to be analyzed
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODNAME		PhotonTreeWriterPresel
TREENAME	hPhotonTree
NOSMEARMOD	PhotonTreeWriterPreselNoSmear
NOSMEARTREE	hPhotonTree
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Toggle ON/OFF MVA computation (variabel name is 'bdt') and Weight File
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
COMPUTEMVA	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/mvaweights/HggBambu_SMDipho_Oct01_redqcdweightallsigevenbkg_BDTG.weights.xml
MVADEFFILE		/scratch/bendavid/root/hggmvaJul07/Tmva_TrainOutput_SMDipho_2012Jul07.root
COMPUTEDIJETMVA	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/mvaweights/TMVA_dijet_sherpa_scalewt50_2evenb_powheg200_maxdPhi_oct9_Gradient.weights.xml
COMPUTECOMBMVA	ON	/home/mingyang/cms/2013Final/FINAL/8TeV/input/mvaweights/TMVA_vbf_dijet_dipho_evenbkg_scaledwt50_maxdPhi_Gradient.weights.xml
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Toggle ON/OFF MVA INPUT VARIABLE CORRECTIONS (applied to MC only, only relevant if MVA analysis is done)
# ------------------------------------------------------------------------------------------------------------------------------------------------
CORRECTIDMVA	OFF	/home/fabstoec/cms/root/PhotonIDMVA_new/Moriond13_phIDMVA.root
CORRECTSIGEOE	OFF	/home/fabstoec/cms/root/PhotonIDMVA_new/Moriond13_phSigEoE.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Project Directory 
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
PROJECTDIR	/home/mingyang/cms/2013Final/FINAL/8TeV/unblinding/bambu_mva
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Section on the Porcesses/Events (ming: num photon cats and num cats (trigger) are not used; auxiliary cats are just cuts)
#	num proc	num cats (analysis)	numMasses
# -----------------------------------------------------------------------------------------------------------------------------------------------
INIT	4		14			5
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	model idx	model name	BR name	(* MUST BE DFEIND IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODEL	0		sm		smbr
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# toogle on/off (for signal modeling only) processes and give them a Name	*MC input root file (use %d as the mass wildcard (ONLY wildcard allowed)*
#	idx	name	ON/OFF			MC file name and path
# -----------------------------------------------------------------------------------------------------------------------------------------------
PROC    0	ggh	ON			file:/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_s12-h%dgg-gf-v7n_noskim.root
PROC    1	vbf	ON			file:/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_s12-h%dgg-vbf-v7n_noskim.root
PROC    2	wzh	ON			file:/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_s12-h%dgg-vh-v7n_noskim.root
PROC    3	tth	ON			file:/home/mingyang/cms/hist/hgg-2013Final8TeV_MVA/merged/hgg-2013Final8TeV_s12-h%dgg-tt-v7n_noskim.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# assign cross-section/BR arrays to models/processes (* must be after MODEL/PROC definitions *)
#		mod idx		proc idx	string (* MUST BE DEFINED IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODPROS		0		0		gghxsec
MODPROS		0		1		vbfxsec
MODPROS		0		2		wzhxsec
MODPROS		0		3		tthxsec
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	Mass idx	Mass (in GeV) *MC file needs to be present for all processes*
# ------------------------------------------------------------------------------------------------------------------------------------------------
MASS	0		115.
MASS	1		120.
MASS	-1		123.
MASS	2		125.
MASS	3		130.
MASS	4		135.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Min and Max Mass for the fits (* make sure are in synch with the cuts defined below *) WILL ALWAYS APPLY MASS CUT !
# ------------------------------------------------------------------------------------------------------------------------------------------------
MINMSS			100.
MAXMSS			180.
FITMSSMIN		10.
FITMSSMAX		10.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	ETAMIN	ETAMAX		R9-Boundaries	ScaleFactors
# ------------------------------------------------------------------------------------------------------------------------------------------------
PHEFFSCALESET	ON	preselectionEff		{
	-2.5	-1.5		0.9		SF(1.011)	SF(1.005)	# pre-selection EE-
	 1.5	 2.5		0.9		SF(1.011)	SF(1.005)	# pre-selection EE+
	-1.5	 1.5		0.9		SF(0.995)	SF(0.999)	# pre-selection EB
}
PHEFFSCALESET	ON	electronVetoEff 	{
	-2.5	-1.5		0.94		SF(0.9899)	SF(0.9955)	# electron veto EE-
	 1.5	 2.5		0.94		SF(0.9899)	SF(0.9955)	# electron veto EE+
	-1.5	 1.5		0.94		SF(0.9937)	SF(0.9994)	# electron veto EB
}
PHEFFSCALESET	ON	diphmvaCutEff 		{
	-2.5	-1.5		0.94		SF(1.)	SF(1.)	# MVA cut EE-
	 1.5	 2.5		0.94		SF(1.)	SF(1.)	# MVA cut EE+
	-1.5	 1.5		0.94		SF(1.)	SF(1.)	# MVA cut EB
}
# ------------------------------------------------------------------------------------------------------------------------------------------------
# auxilliary cat definitions (ming: these are the cuts)
#	idx	name		Cuts
# ------------------------------------------------------------------------------------------------------------------------------------------------
AUXCAT	0	photetacut	" ( TMath::Abs(ph1.sceta) < 1.4442 || TMath::Abs(ph1.sceta) > 1.566 ) && ( TMath::Abs(ph2.sceta) < 1.4442 || TMath::Abs(ph2.sceta) > 1.566 ) && TMath::Abs(ph1.sceta) < 2.5 && TMath::Abs(ph2.sceta) < 2.5 "
AUXCAT	1	photptcut	" ph1.pt > mass/3. && ph2.pt > mass/4. "
AUXCAT	2	photidcut	" ph1.idmva > -0.2 && ph2.idmva > -0.2 "
AUXCAT	3	bdt0		" bdt >  0.76 "
AUXCAT	4	bdt1		" bdt >  0.36 && bdt <= 0.76 "
AUXCAT	5	bdt2		" bdt >  0.   && bdt <= 0.36 "
AUXCAT	6	bdt3		" bdt > -0.42 && bdt <= 0.   "
AUXCAT	7	bdt4		" bdt > -0.78 && bdt <= -0.42 "
AUXCAT	8	tthlepTag       " tthTag>1 && ph1.pt/mass > 60./120. && bdt > -0.6"
AUXCAT	9	vhleptightTag	" VHLepTag > 1 && ph1.pt/mass > 45./120. && bdt > -0.6"
AUXCAT	10	vhleplooseTag	" (VHLepTag==1 || VHLepTag==3) && ph1.pt/mass > 45./120. && bdt > -0.6"
AUXCAT	11	vbfTag		" bdt_combined > 0.14  "
AUXCAT	12	vbfTag0    	" bdt_combined > 0.94  "
AUXCAT	13	vbfTag1	        " bdt_combined > 0.82 && bdt_combined <= 0.94"
AUXCAT	14	vbfTag2	        " bdt_combined > 0.14 && bdt_combined <= 0.82"
AUXCAT	15	vhmetTag	" corrpfmet > 70. && ph1.pt/mass > 45./120. && TMath::ACos(TMath::Cos(TMath::Abs(phigg-corrpfmetphi))) > 2.1 && ( TMath::ACos(TMath::Cos(TMath::Abs(jetleadNoIDphi-corrpfmetphi))) < 2.7 || TMath::Sqrt( TMath::Power(ph1.sceta-jetleadNoIDeta,2)+TMath::Power(TMath::ACos(TMath::Cos(ph1.scphi-jetleadNoIDphi)),2)) < 0.5 || TMath::Sqrt( TMath::Power((ph2.sceta-jetleadNoIDeta),2)+TMath::Power(TMath::ACos(TMath::Cos(ph2.scphi-jetleadNoIDphi)),2)) < 0.5 || jetleadNoIDpt < 50.)  && bdt >0."
AUXCAT	16	tthhadTag       " (tthTag==1 || tthTag==3) && ph1.pt/mass > 60./120. && bdt > -0.2"
AUXCAT	17	vhhadTag	" VHHadTag == 1 && ph1.pt/mass > 60./120. && bdt > 0.2"
AUXCAT	18	baseBDT		" bdt > -0.78"
AUXCAT	19	masscut		" mass>100 && mass<180"
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# the basecut to be applied to ALL data/MC (*use ONLY AUXCATS*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
BASECAT				" photidcut && photetacut && photptcut && masscut"
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# analysis categpry definitions
#	idx	name					eff. smear	Smear Cat	BG-model/Order	TCuts *use only AUXCATs from above*	StDesc(String descriptor) (*for plots and such*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
ANACAT	0	hgg_8TeV_2013final_bdt0		0.00498607	Smear(cat0)	Bern/4		" bdt0 && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag && !vhhadTag "	    StDesc(BDT Cat 0)
ANACAT	1	hgg_8TeV_2013final_bdt1		0.00625813	Smear(cat1)	Bern/5		" bdt1 && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag && !vhhadTag "	    StDesc(BDT Cat 1)
ANACAT	2	hgg_8TeV_2013final_bdt2		0.00662292	Smear(cat2)	Bern/5		" bdt2 && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag && !vhhadTag "	    StDesc(BDT Cat 2)
ANACAT	3	hgg_8TeV_2013final_bdt3		0.00834216 	Smear(cat3)	Bern/6		" bdt3 && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag && !vhhadTag "	    StDesc(BDT Cat 3)
ANACAT	4	hgg_8TeV_2013final_bdt4		0.0162871	Smear(cat3)	Bern/6		" bdt4 && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag && !vhhadTag "	    StDesc(BDT Cat 4)
ANACAT	5	hgg_8TeV_2013final_dijet0	0.00757377	Smear(cat4)	Bern/3		" vbfTag0  && !tthlepTag && !vhleptightTag && !vhleplooseTag "  					            StDesc(Dijet Tag 0)
ANACAT	6	hgg_8TeV_2013final_dijet1	0.0085321	Smear(cat4)	Bern/3		" vbfTag1  && !tthlepTag && !vhleptightTag && !vhleplooseTag  "						            StDesc(Dijet Tag 1)
ANACAT	7	hgg_8TeV_2013final_dijet2	0.00897914	Smear(cat4)	Bern/4		" vbfTag2  && !tthlepTag && !vhleptightTag && !vhleplooseTag  "	          	                                    StDesc(Dijet Tag 2)
ANACAT	8	hgg_8TeV_2013final_vhlepTtag	0.012052	Smear(cat5)	Bern/2		" vhleptightTag && !tthlepTag "		                                                                            StDesc(VH Lep Tight Tag)
ANACAT	9	hgg_8TeV_2013final_vhlepLtag	0.01276	        Smear(cat5)	Bern/3		" vhleplooseTag && !tthlepTag && !vhleptightTag "			                                            StDesc(VH Lep Loose Tag)
ANACAT	10	hgg_8TeV_2013final_vhmettag	0.0117229	Smear(cat5)	Bern/3		" vhmetTag && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag "			                    StDesc(VH Met Tag)
ANACAT	11	hgg_8TeV_2013final_tthleptag	0.010888	Smear(cat5)	Bern/1		" tthlepTag "			                                                                                    StDesc(TTH Lep Tag)
ANACAT	12	hgg_8TeV_2013final_tthhadtag	0.010888	Smear(cat5)	Bern/2		" tthhadTag && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag "			            StDesc(TTH Had Tag)
ANACAT	13	hgg_8TeV_2013final_vhhadtag	0.00709028	Smear(cat5)	Bern/3		" vhhadTag && !tthlepTag && !vhleptightTag && !vhleplooseTag && !vbfTag && !vhmetTag && !tthhadTag "		    StDesc(VH Had Tag)

#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# 	proc	cat	Model
#
# Gluon Fusion
ON	0	0	( dmG1: -0.25, dmG2: -4.0, sigmaG1: 0.9, sigmaG2: 3, f1: 0.9)
			( dmG1: -1, sigmaG1: 2.0 )
ON	0	1	( dmG1: -0.1, dmG2: -1.0, sigmaG1: 0.85, sigmaG2: 1.6, f1: 0.8 )
			( dmG1: -0.3, dmG2: 0.0, sigmaG1: 1.5, sigmaG2: 2.5, f1: 0.7 )
ON	0	2	( dmG1: -0.25, dmG2: -4.0, sigmaG1: 0.9, sigmaG2: 3, f1: 0.9))
			( dmG1: -0.25, dmG2: -4.0, sigmaG1: 0.9, sigmaG2: 3, f1: 0.9)
ON	0	3	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
			( dmG1: -0.0, dmG2: -2.0, sigmaG1: 1.2, sigmaG2: 1.5, f1: 0.6)
ON	0	4	( dmG1: -0., dmG2: -1., sigmaG1: 2.0, sigmaG2: 3.5, f1:0.8)
			( dmG1: 0.0, sigmaG1:2.0, dmG2: -1, sigmaG2:4.0, f1:0.5)
ON	0	5	( dmG1: -0.2, dmG2: 0.0, sigmaG1: 1.3, sigmaG2: 2.5, f1: 0.4 )
			( dmG1: 0.0, sigmaG1:5.0 )
ON	0	6	( dmG1: -0.2, dmG2: 0.0, sigmaG1: 1.3, sigmaG2: 2.5, f1: 0.4 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	7	( dmG1: 0.0, sigmaG1:0.2, dmG2:0.0, sigmaG2:1.5, f1:0.7)
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	8       ( dmG1: 0.0, sigmaG1:1)
			( dmG1: 0.0 , sigmaG1:3.0 )
ON	0	9	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	10	( dmG1: 0.0, sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	11	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	12	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	0	13	( dmG1: 0 , dmG2: 0.0 , sigmaG1: 1., sigmaG2: 2, f1: 0.5)
			( dmG1: 0.0  , sigmaG1:3.0 )
#  Vector Boson Fusion
ON	1	0	( dmG1: -0.2, dmG2: -3, sigmaG1: 0.9, sigmaG2: 3, f1: 0.9 )
			( dmG1: -0.5, sigmaG1: 3.0 )
ON	1	1	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.9 )
			( dmG1: 0., dmG2: -0.7, sigmaG1: 1.6, sigmaG2: 5.0, f1: 0.4)
ON	1	2	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.2)
			( dmG1: 0., dmG2: -0.7, sigmaG1: 1.6, sigmaG2: 5.0, f1: 0.4)
ON	1	3	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)
			( dmG1: 0, sigmaG1: 3)
ON	1	4	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)
			( dmG1: -0.10, sigmaG1: 3)
ON	1	5	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: 0., dmG2: -0.7, sigmaG1: 1.6, sigmaG2: 5.0, f1: 0.4 )
ON	1	6	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: -0.2, sigmaG1:1.2, dmG2: -0.4, sigmaG2:3.5, f1:0.3 )
ON	1	7	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: 0.0, sigmaG1:2.5, dmG2: -1.0, sigmaG2:4.5, f1:0.5)
ON	1	8	( dmG1: 0.0 , sigmaG1:2.0 )
			( dmG1: 0.0 , sigmaG1:3.0 )
ON	1	9	( dmG1: 0.0  , sigmaG1:2.0 )
			( dmG1: 0.0 , sigmaG1:5.0 )
ON	1	10	( dmG1: 0.0, sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	1	11	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	1	12	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	1	13	( dmG1: 0.0, sigmaG1:2.0)
			( dmG1: 0.0  , sigmaG1:3.0 )
#  Associated production
ON	2	0	( dmG1: -0.3, dmG2: -3.5, sigmaG1: 0.9, sigmaG2: 2.0, f1: 0.9 )
			( dmG1: -1, sigmaG1: 4.0 )
ON	2	1	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
			( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
ON	2	2	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
			( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.9)
ON	2	3	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)
			( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)			
ON	2	4	( dmG1: 0, dmG2: -2, sigmaG1: 2.0, sigmaG2: 3.6, f1: 0.75)
			( dmG1: -1, sigmaG1: 3.0)									
ON	2	5	( dmG1: 0.0, sigmaG1: 1.0)
			( dmG1: 0.0, sigmaG1:1.0 )						
ON	2	6	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: 0.0 , sigmaG1:1.0 )
ON 	2	7	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2)
			( dmG1: 0.0, sigmaG1:1.0 )			
ON	2	8	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)
			( dmG1: 0.0, sigmaG1: 3)
ON	2	9	( dmG1: 0 , dmG2: -0.2, sigmaG1: 0.5, sigmaG2: 1, f1: 0.6)
			( dmG1: 0.0, sigmaG1:3.0 )
ON	2	10	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.3)
			( dmG1: 0.0, dmG2: -0.1, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.8 )
ON	2	11	( dmG1: 0.0, sigmaG1:1. )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	2	12	( dmG1: 0.0  , sigmaG1:3.0 )
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	2	13	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.3)
			( dmG1: 0.0  , sigmaG1:3.0 )
#  TTBar + H
ON	3	0	( dmG1: -0.3, dmG2: -3.5, sigmaG1: 0.9, sigmaG2: 2.0, f1: 0.9)
			( dmG1: -1, sigmaG1: 4.0)
ON	3	1	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
			( dmG1: 0.0, sigmaG1: 0.5 )
ON	3	2	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 0.5, sigmaG2: 1, f1: 0.9)
			( dmG1: 0.0, sigmaG1: 1.0 )
ON	3	3	( dmG1: 0, dmG2: -1, sigmaG1: 0.5, sigmaG2: 1.5, f1: 0.9)
			( dmG1: 0.0, sigmaG1: 1)			
ON	3	4	( dmG1: 0, dmG2: -2, sigmaG1: 0.5, sigmaG2: 4, f1: 0.8)
			( dmG1: 0.0, sigmaG1:1.0 )									
ON	3	5	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: 0.0, sigmaG1:1.0  )						
ON	3	6	( dmG1: -0.0, dmG2: -0.4, sigmaG1: 1.2, sigmaG2: 3, f1: 0.8)
			( dmG1: 0.0 , sigmaG1:2.0)
ON 	3	7	( dmG1: -0.0, dmG2: -0.4 , sigmaG1: 1.2, sigmaG2: 2.5, f1: 0.8)
			( dmG1: 0.0, sigmaG1:2.0  )			
ON	3	8	( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.7  )
			( dmG1: 0.0, sigmaG1: 1.5 )
ON	3	9	( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.7)
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	3	10	( dmG1: -0.0, dmG2: -0.4 , sigmaG1: 1.2, sigmaG2: 2.5, f1: 0.9)
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	3	11	( dmG1: -0.0, dmG2: -0.4 , sigmaG1: 1.2, sigmaG2: 2.5, f1: 0.9)
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	3	12	( dmG1: -0.0, dmG2: -0.4 , sigmaG1: 1.2, sigmaG2: 2.5, f1: 0.9)
			( dmG1: 0.0  , sigmaG1:3.0 )
ON	3	13	( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.7 )
			( dmG1: 0.0  , sigmaG1:3.0 )
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# here you can add additional nuissances which should be taken into account (ming: not used)
#
# FormulaVars for final Cat count. If  not specified (DEFAULT), taken as default (and uncorrelated among Cats)
#
#	Cat	#parms	Formula				Parameters
NSIG	0	1	DEFAULT
NSIG	1	1	DEFAULT
NSIG	2	1	DEFAULT
NSIG	3	1	DEFAULT
NSIG	4	1	DEFAULT
NSIG	5	1	DEFAULT
NSIG	6	1	DEFAULT
NSIG	7	1	DEFAULT
NSIG	8	1	DEFAULT
NSIG	9	1	DEFAULT
NSIG	10	1	DEFAULT
NSIG	11	1	DEFAULT
NSIG	12	1	DEFAULT
NSIG	13	1	DEFAULT
# ------------------------------------------------------------------------------------------------------------------------------------------------
